<div class="tableContainer">
<table>
  <tbody>
    {% for status in statuses %}
        <tr><td>{{ status.Message }}</td> <td style="text-align: right;">{{ status.Added|date:"D P" }}</td>  </tr>
    {% endfor %}
  </tbody>
</table>

{% if enable_button %}
  <p style="color: red; text-align: center;">please wait for the store to update status</p>
{% elif z == 'Delivered' %}
  <p style="color: green; text-align: center;">We have delivered your service</p>
{% else %}
        <button type="button" name="button" hx-trigger="click" hx-get="{% url 'updateRequired' x y %}" hx-swap="outerHTML" hx-target="this"
        style="background-color: dodgerblue;
        color:white; width: 100%; font-family: sans-serif;"> Request update
        </button>

{% endif %}

</div>
