/* selected google fonts
font-family: 'Comfortaa', cursive;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Tsukimi Rounded', sans-serif;
 */
/* background: linear-gradient(#9365ff, #6f3bff); */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat+Alternates:wght@100&family=Poppins:wght@200&family=Quicksand:wght@500&family=Tsukimi+Rounded:wght@300;400&display=swap');
