<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Local testing</title>
    <link rel="stylesheet" href="localstyles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>welcome</h1>

  <div class="container">

    <form class="form-inline" action="" method="post">
      <input type="number" name="phone" value=""   placeholder="Enter phonenumber">
      <input type="number" name="case-id" value=""   placeholder="Enter case-id">
      <button type="submit" name="button">Submit</button>
    </form>

  </div>




</body>
</html>
