{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>status response</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.0"></script>

    <link rel="stylesheet" href="{% static 'sendresponse.css' %}">
  </head>

  <body>

    <h2>Get your Device Service Status</h2>

    <div class="container">
      <form class="form-inline"
       >
        {% csrf_token %}
        <input type="number" name="cell" value="" placeholder="Enter phone">
        <input type="number" name="c_id" value="" placeholder="Service-Request">
        <button type="button" name="button"
                              hx-post="{% url 'validate-link' %}"
                              hx-target="#status_results_container"
                              >GO</button>
      </form>

      <div class="status_results" id="status_results_container">
        <!-- The status info need to be displayed here -->

      </div>


    </div>




  </body>
</html>
