{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>add job</title>

    <link rel="stylesheet" href="{% static 'searchExistingUsersstyles.css' %}">

    <script src="https://unpkg.com/htmx.org@1.9.0"></script>

  </head>

<body>

<a id="homeicon" href="/"><img src="{% static 'images/homeicon.svg' %}" alt=""></a>

<h3>New Customer?</h3>

  <div >

  <form  action="" method="post">
    <input type="text" name="name" placeholder="New customer name">
    <input type="text" name="phone" placeholder="Enter-phone-number">
    <button hx-post="{% url 'register-customer' %}" hx-trigger="click" hx-target="#registration_response">Register</button>
  </form>

  <div id='registration_response' style="margin-top: 5px;">
      <!-- invlaid-phone? Success-regitering-customer? -->
  </div>

  </div>

<h3>Choose existing Customer to add service</h3>

<input type="search" name="searchBox" size="83" class="search_field_2"
       placeholder="Search existing users"
       hx-post="{% url 'search-ex-cus' %}"
       hx-target="#search-results"
       hx-trigger="keyup changed delay:500ms">
    <br><br>

<table>
  <thead> <th>Name</th> <th>Phone</th> <th>Choose</th> </thead>
  <tbody id="search-results">

  </tbody>
</table>


<img class="svg_img" src="{% static 'images/undraw1.svg' %}" alt="Erro getting the image">

<div class="recent_list_container">
  <h2>Recent Customers</h2>
  <ul>
    {% for item in recent_items %}
    <li> <span>{{ forloop.counter }}</span>
      {{ item.Name.CustomerName }}
    </li>
    {% endfor %}
  </ul>
</div>



</body>
</html>
