<!--
This html recieves all the data related to one selected service

-->
{% load static %}
<div id="dashboard_container_space">
<div id="dashboard">
  <div class="notch" id="notch{{ data.Name.EngagementTier }}">

  </div>

<!-- ------------------------------------------ -->
  <div class="card">
    <div class="card_firstrow_container">

      <div class="cf_image">

      </div>
      <div class="cf_info">
        <div class="cf_info_1">
          <p>{{ data.Model }}</p>
          <p></p>
        </div>
        <div class="cf_info_2">

        </div>

      </div>

    </div>
    <div class="card_secondrow_container">

    </div>
  </div>

<!-- ----- -->
<div class="triple_button">
  <div hx-get="{% url 'floatingDashboard' data.id  %}" hx-trigger="click" hx-target="#dashboard" hx-swap="beforeend" class="trp" id="trp_1">

  </div>
  <div class="trp" id="trp_2">

  </div>
  <div class="trp" id="trp_3">

  </div>
  <div class="trp" id="trp_4">

  </div>
  <div class="trp" id="trp_5">
  </div>
</div>
<!-- -------- -->


<div class="problem_statement stcolr{{ data.Status }}">
  {{ data.Problem }}
  <p style="margin-top: 2px;">Last-updated: {{ data.Updated|timesince }}</p>
</div>




<!--   -->
  <div class="bottom_card">

    <div id="bottom_card_header">

        <img id="icon" src="{% static 'images/user.png' %}" alt="user icon">

        <p>{{data.Name.CustomerName}}</p>
        <p id="how_old">{{ data.Created|timesince }} ago &nbsp; &nbsp; &nbsp;</p>
    </div>

    <p style="padding: 2px; margin: 4px;">
      {{ data.Description }}
    </p>

    <div id="actions">
      {% if data.Status == 'pending' %}

      <div id="action1" hx-trigger="click" hx-target="#actions" hx-post="markstatus/ready/{{ data.SIDN }}">
          Ready
      </div>
      <div id="action2" hx-trigger="click" hx-target="#actions" hx-post="markstatus/failed/{{ data.SIDN }}">
          Cancel
      </div>

      {% elif data.Status == 'Ready' %}
      <div id="action1" hx-trigger="click" hx-target="#actions" hx-post="markstatus/delivered/{{ data.SIDN }}">
          Complete Delivery
      </div>

      {% elif data.Status == 'Failed' %}
      <div id="action1" hx-trigger="click" hx-target="#actions" hx-post="markstatus/returned/{{ data.SIDN }}">
          Complete Return
      </div>

      {% elif data.Status == 'Returned' %}
      <div id="gnrt_bill">
          <img id="tick_rotate" style="width: 33px; margin-right: 5px;" src="{% static 'images/checklist.png' %}" alt="">
          Order Returned ! &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;


        <div id="gnrt_bill_expander">
         <img src="{% static 'images/tinyinvoice.png' %}" alt="">  $ Generate Bill
        </div>

      </div>
      {% else %}
      <div id="gnrt_bill">
          <img id="tick_rotate" style="width: 33px; margin-right: 5px;" src="{% static 'images/checklist.png' %}" alt="">
          Order Completed &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;


        <div id="gnrt_bill_expander">
         <img src="{% static 'images/tinyinvoice.png' %}" alt="">  $ Generate Bill
        </div>

      </div>

      {% endif %}

    </div>


  </div>


</div>
</div>
