{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Service Job</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}">

    <script src="https://unpkg.com/htmx.org@1.9.0"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Orbitron&family=Poppins:wght@200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'master.css'%}">
  </head>


<body style="margin-top: 0;">


    <div class="NavBar">

                          <div class="box">
                          <a class="CONSO" style="border-radius: 15px; padding: 10px;" href="cs/">Console</a>
                        </div>

                          <div class="box">
                          <a  class="ADA" style="border-radius: 15px; padding: 10px;" href="{% url 'create_job' %}">&nbsp;Service +</a>
                        </div>

                          <div class="search_field_sleeping">
                            <input type="text" name="" value="" placeholder="seach here" size="70" style="margin-right: 100px;">
                          </div>

                          <div class="box"> <a class="LGT" style="border-radius: 10px; padding: 10px;" href="{% url 'logout' %}">Logout</a> </div>

    </div>

    <div id="main_container">
      <div id="left_container">


<div class="tiles_container">
      <!--  Saved for Future -->
      <div class="tiles" style="background-color: #6663FE;">
        <img src="{% static 'images/profit.png' %}" alt="" style="width:55px; height:55px;">
        <h4 style="margin:0; font-family: 'Orbitron', sans-serif;">{{ db_count }}</h4>
        <p style=" margin:0; color:white; font-family: 'Poppins', sans-serif;">customers</p>
      </div>
      <div class="tiles" style="background-color: #00A0B6;" hx-trigger="click" hx-swap="innerHTML" hx-target="#main_records" hx-get="{% url 'wdg' 1 %}">
        <img src="{% static 'images/process.png' %}" alt="" style="width:40px; height:40px; margin-top:10px; margin-bottom:5px">
        <h4 style="margin:0; font-family: 'Orbitron', sans-serif;">{{ db_process }}</h4>
        <p style=" margin:0; color:white; font-family: 'Poppins', sans-serif;">processing</p>
        <p></p>
      </div>
      <div class="tiles" style="background-color: #E06C9F;" hx-trigger="click" hx-swap="innerHTML" hx-target="#main_records" hx-get="{% url 'wdg' 2 %}">
        <img src="{% static 'images/boxes.png' %}" alt="" style="width:55px; height:45px; margin-top:10px;">
        <h4 style="margin:0; font-family: 'Orbitron', sans-serif;">{{ db_completed }}</h4>
        <p style=" margin:0; color:white; font-family: 'Poppins', sans-serif;">ready</p>
      </div>
      <div class="tiles" style="background-color: #266FD5;" hx-trigger="click" hx-swap="innerHTML" hx-target="#main_records" hx-get="{% url 'wdg' 3 %}">
        <img src="{% static 'images/down-arrow.png' %}" alt="" style="width:55px; height:47px; margin-top:10px;">
        <h4 style="margin:0; font-family: 'Orbitron', sans-serif;">{{ db_today }}</h4>
        <p style=" margin:0; color:white; font-family: 'Poppins', sans-serif;">New</p>
      </div>
      <div class="tiles" style="background-color: #FFB84C;">  <!-- FFE194 -->
        <img src="{% static 'images/warehouse.png' %}" alt="" style="width:55px; height:47px; margin-top:10px;">
        <h4 style="margin:0; font-family: 'Orbitron', sans-serif;">{{ db_atStore }}</h4>
        <p style=" margin:0; color:white; font-family: 'Poppins', sans-serif;">Storage</p>
      </div>

</div>


<div class="seatchFilter_django">
   <form class="" action="" method="post">
    {{ form }}
    {% csrf_token %}
    <input type="submit" name="" value="SEARCH">
    <input type="hidden" name="djf" value="True">
    <a style="background-color: black; color: white;" href="/">clear!</a>
   </form>
</div>

<!-- ------------------------------------------------------------------------------------------------  -->



  <div class="table_container">
    <br>
    <table>
    <thead style="position: sticky;"> <th>&nbsp;&nbsp;#</th> <th>Icon</th> <th>Service-ID</th> <th style="text-align: left;">Model</th> <th style="text-align: left;">Problem</th> <th style="text-align: left;">Customer</th> <th>Phone</th> <th>payment</th>
            <th>est-price</th> <th>Device</th> <th>Status</th> </thead>
    <tbody id="main_records">
  {% if djf %}

    {% for row in rows %}
    <tr hx-get="{% url 'get_record' row.id %}" hx-trigger="click" hx-target="#free_space" >

        <td id="{{ row.RequireUpdate }}">{{row.id}} </td> <td>&#128736;</td> <td>#{{ row.SIDN }}</td>
         <td style="text-align: left;">{{row.Model}}</td> <td style="text-align: left;">{{row.Problem}}</td>
        <td style="text-align: left;">{{row.Name.CustomerName}}</td>     <td>{{row.Name.Phone}}</td>
        <td style="text-align: left;"> <div class="bollet {{ row.Payment }}"></div> {{row.Payment}}</td>               <td >&#8377;{{row.Price}}</td>
        <td>{{row.Type}}</td>                  <td> <div class="badge {{ row.Status }}">{{row.Status}}</div> </td>




    </tr>
    {% endfor %}


  {% else %}
      {% for row in rows %}
      <tr hx-get="{% url 'get_record' row.id %}" hx-trigger="click" hx-target="#free_space" >
        {% if forloop.last %}
        <td hx-get="{% url 'requestpage' 2 %}" hx-trigger="revealed" hx-swap="beforeend" hx-target="#main_records">{{row.id}}</td> <td>&#128736;</td> <td>#{{ row.SIDN }}</td>
        {% else %}
        <td id="{{ row.RequireUpdate }}">{{row.id}} </td> <td>&#128736;</td> <td>#{{ row.SIDN }}</td>
        {% endif %}


            <td style="text-align: left;">{{row.Model}}</td> <td style="text-align: left;">{{row.Problem}}</td>
          <td style="text-align: left;">{{row.Name.CustomerName}}</td>     <td>{{row.Name.Phone}}</td>
          <td style="text-align: left;"> <div class="bollet {{ row.Payment }}"></div> {{row.Payment}}</td>               <td>&#8377;{{row.Price}}</td>
          <td>{{row.Type}}</td>                  <td> <div class="badge {{ row.Status }}">  {{row.Status}}</div> </td>




      </tr>

      {% endfor %}

  {% endif %}

    </tbody>
    </table>
  </div>  <!-- table_container ends -->
  </div>


<!-- _____________________________DASHBOARD_____________________________________________ -->

        <div id="free_space">
          {% if data %}
          {% include 'baseapp/dashboard.html' %}
          {% endif %}


        </div>
</div> <!-- main_container_ends -->





</body>
</html>
