{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'loginStyle.css' %}">
  </head>
  <body>

<div class="out_btn"> <a href="/"><div class="hme_btn"><p>Home</p></div> </a> <a href="sr"><div class="hme_btn"><p>customer</p></div> </a></div>

<div class="main_container">

<div class="info">
  <div class="info_container">
      <img width="180px" src="{% static 'images/log-in.png'%}" alt="">
  </div>

</div>

                    <div class="formcontainer">


                      <form class="" action="" method="post">
                        {% csrf_token %}
                        <div class="names"><p>Login</p></div>
                        <input type="text" name="user-name" value="" placeholder="username" size="55px">
                        <div class="names"><p>Password</p></div>
                        <input type="text" name="pass-word" value="" placeholder="Password" size="55px">
                        <div class="buttons"><input class="battons" type="submit" name="SUBMIT"></div>
                      </form>

                    </div>

</div>



  </body>
</html>
