{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test Page</title>
    <link rel="stylesheet" href="{% static 'test.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">


  </head>
  <body>

  <header>
    <div class="headercontainer">
      <div class="headitem1">
        <img id="logo" src="{% static 'images/invoicelogo.png' %}" alt="">
      </div>
      <div class="headitem2">
        <h4>Invoice</h4>
        <p>Invoice Number - 1704</p>
      </div>
    </div>

  <hr>
  <div class="secondheadercontainer">
    <div class="secondheaditem1">
      <strong>Invoiced To:</strong> <br>
      <span>Suresh Kumar</span>
    </div>
    <div class="secondheaditem2">
      <strong>Order Date </strong> <br>
      <span>12/08/2023</span>
    </div>
    <div class="secondheaditem3">
      <strong>Payment-Method</strong> <br>
      <span>Paytm</span>
    </div>
    <div class="secondheaditem4">
      <strong>DOD</strong> <br>
      <span>24/08/2023</span>
    </div>
  </div>
  <br>
  </header>

  <div class="tablecontainer">
    <table>
      <thead style="padding: 5px;">
        <th style="text-align: left;">Device</th> <th style="text-align: right;">Service-no</th> <th style="text-align: right;">Amount</th>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
           <td>{{ item }}</td> <td style="text-align: right;">empty</td> <td style="text-align: right;">empty</td>
        </tr>
        {% endfor %}

        <tr id="lastRow" > <td></td> <td style="text-align: right;"> <strong>Total:</strong> </td> <td style="text-align: right;">500</td> </tr>
      </tbody>
    </table>
  </div>


  </body>
</html>
