<form class="" action="index.html" method="post">
  <input type="text" name="ClientName" value="{{ data.CustomerName }}" placeholder="Name...">
  <br>
  <select class="" name="">
    <option value="null">----------</option>
    <option value="Elite">Elite</option>
    <option value="Regular">Regular</option>
    <option value="Basic">Basic</option>
    <option value="Caution">Caution</option>
  </select>
  <br>
  <input type="number" name="" value="{{ data.Phone }}" placeholder="Phone...">
  <br>
  <input type="submit" name="" value="SAVE">
</form>
