
{% for row in rows %}
<tr hx-get="{% url 'get_record' row.id %}" hx-trigger="click" hx-target="#free_space">

  <td id="{{ row.RequireUpdate }}">{{row.id}} </td> <td>#{{ row.SIDN }}</td>
  <td>&#128736;</td> <td style="text-align: left;">{{row.Model}}</td> <td style="text-align: left;">#{{row.Problem}}</td>
  <td style="text-align: left;">{{row.Name.CustomerName}}</td>     <td>{{row.Name.Phone}}</td>
  <td style="text-align: left;"> <div class="bollet {{ row.Payment }}"></div> {{row.Payment}}</td>               <td>&#8377;{{row.Price}}</td>
  <td>{{row.Type}}</td>                  <td> <div class="badge {{ row.Status }}">{{row.Status}}</div> </td>

</tr>

{% endfor %}

<tr> <td colspan="10" style="background-color: white; "></td> </tr>
